@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.primary-btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  margin-bottom: 15px;
  border-radius: 10px;
}

.primary-color {
  color: #ff136f;
}
.slide-info h1 {
  font-size: 40px;
  font-weight: 500;
}

.slide-info {
  padding: 0 10px;
}
#watch-bgd {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}
#bag-bgd {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
#shoes-bgd {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}
.form-back {
  background-color: #feeae9;
  border-radius: 10px;
}
